<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <h3>Welcome to the projects page.</h3>
        <h3>This is where project samples will be shared.</h3>
        {{> footer}}
    </body>
</html>
